html {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
}

.gradient{
  background: radial-gradient(331.1% 76.51% at 100% 42.09%, #e5f1ff 0%, #FFF 33.19%);
}

#navbar-mobile{
  display:none;
}

#main-container{
  width: 80%;
  margin: auto;
  margin-top: 5%;
}

#left{
  font-family: inconsolata;
}

#center{
  font-family: inter;
  animation: showup 1.5s forwards;
}

#center > h1{
  font-size: 5rem;
  font-weight: 900;
}

#center > h2{
  font-size: 3rem;
  font-weight: 600;
}

#center > h4{
  width: 70%;
  font-size: 1.5rem;
  font-weight: 200;

}


.email-button{
      font-weight: 600;
      border-bottom-width: 1px;
      background-color: white;
      border-color: rgb(34, 34, 34);
      border-left-width: 1px;
      border-right-width: 1px;
      border-style: solid;
      border-top-width: 1px;
      height: 50px;
      width: 300px;
      opacity: 1;
      border-radius: 70px;
}

.email-button:hover{
      font-weight: 600;
        border-bottom-width: 1px;
        background-color: black;
        border-color: rgb(255, 255, 255);
        color: white;
        transition: 1s;
        border-left-width: 1px;
        border-right-width: 1px;
        border-style: solid;
        border-top-width: 1px;
        height: 50px;
        width: 300px;
        opacity: 1;
        border-radius: 70px;
}

.logo-img-desktop{
  max-width: 70%;
  animation-name:fadeInLeft;
  animation-duration: 1s;
  animation-timing-function: 1s;
}

nav>a{
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: #3f3e3b
}

nav>a:hover{
  animation-name: headShake;
  animation-duration: 1s;
  animation-timing-function: 1s;
  color:#000000;
  text-decoration: none;
}



small{
  font-weight: 300;
}
.logo-img{
  max-width: 200px;
}

#left{
 width: 25%; 
}

#center{
 width: 70%; 
}

.presentation{
  width: 50%;
  margin-bottom: 2%;
  margin: auto;
}

.frontend-img{
  width: 80%;
  margin: auto;
  border-radius: 15px;
}

@media (max-width: 992px) {

  #navbar-mobile{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 7%;
  }

  .modal-dialog{
    margin-top: 15%;
    font-family: inconsolata;
  }


  #main-container{
    height: 80vh;
    width: 100%;
    margin: auto;
    gap: 1%;
    margin-top: 5%;
    align-items: center;
  }
  
  #left{
  display: none;
  }

  #center{
    font-family: inter;
    width: 100%;
  }

  #center > h1{
    font-size: 3rem;
    font-weight: 900;
    animation: showup 2s forwards;
  }

  #center > h2{
    font-size: 1rem;
    font-weight: 600;
    animation: showup 2s forwards;
  }

  #center > h4{
    width: 50%;
    font-size: 0.8rem;
    font-weight:200;
    animation: showup 2s forwards;
}

  .email-button{
    width: 50%;
    height: 50px;
    font-size:0.6rem;
    color: white;
    background-color: black;
    border-color: rgb(0, 0, 0);
    transition: 1s ease-in-out;
  }
  

  .menu{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-style: solid;
    border-color: #FFF;
  }
  
  .email-button:hover{
        font-weight: 400;
          border-bottom-width: 1px;
          background-color: rgb(255, 255, 255);
          border-color: rgb(0, 0, 0);
          color: rgb(0, 0, 0);
          transition: 1s;
          border-left-width: 1px;
          border-right-width: 1px;
          border-style: solid;
          border-top-width: 1px;
          height: 50px;
          width: 80%;
          opacity: 1;
          border-radius: 70px;
  }

  .logo-img{
    max-width: 80px;
  }

  .presentation{
    width:100%;
    margin: auto;
  }

}

@keyframes showup {
    0% {opacity:0;}
    20% {}
    80% {}
    100% {opacity:1;}
}

